:root {
  --white: #fff;
  --primary: #f59e0b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-image: url("/public/img/bg-clima.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}
